@CHARSET "UTF-8";
#page {
	position:relative;
	margin:0px auto 0px auto;
	padding:0px;
	width:900px;
}
#header {
	float:left;
	margin:0px auto 0px auto;
	padding:0px;
	width:900px;
}
#content {
	float:center;
	margin:0px auto 0px auto;
	padding:0px;
	width:900px;
}
#left {
	float:left;
	margin:0px auto 0px auto;
	padding:0px;
	width:200px;
}
#right {
	float:left;
	margin:0px auto 0px auto;
	padding:0px;
	width:700px;
}
#footer {
	float:left;
	width:900px;
	margin:0px;
	padding:0px;
}
#left_nav {
	float:left;
	margin: 30px auto 100px auto;
	padding: 20px 0 0 20px;
	width:180px;
	list-style: none;
}
#left_nav li {
	float:left;
	margin:0px 20px 0px auto;
	padding: 5px 0 0 10px;
	width: 140px;
	display: block;
	font-weight: bold;
	font-size: 19px;
	border-bottom: 1px solid #c5effe;
}
#left_nav li a {
	color: #597ffc;
}
#current_left_nav a {
	color: red;
}
#add_billboard_panel {
	float:left;
	margin: 40px 5px 20px 580px;
	padding: 5px 10px 5px 10px;
	width: 85px;
	font-weight: bold;
	font-size: 19px;
	color: orange;
	background-color: #196;
}
#billboards_panel {
	float:left;
	margin:0px auto 50px auto;
	padding:0px;
	width:700px;
	list-style: none;
}
.billboard_item {
	float:left;
	margin:0px auto 0px auto;
	padding:0;
	width:700px;
	display: block;
}
.billboard_content {
	float:left;
	margin:0px auto 0px auto;
	padding:8px 0 5px 0;
	width:700px;
	list-style: none;
	border-bottom: 1px solid #163;
}
.billboard_title_panel {
	text-align: center;
	font-weight: bold;
	background-color: #673;
}
.billboard_time {
	float:left;
	margin:0px auto 0px auto;
	padding:0px;
	width:170px;
	text-align: center;
	display: block;
}
.billboard_title {
	float:left;
	margin:0px auto 0px auto;
	padding:0px;
	width:450px;
	display: block;
}
.billboard_title a {
	color: #6aa;
}
.billboard_hide {
	float:left;
	margin:0px auto 0px auto;
	padding:0px;
	width:80px;
	text-align: center;
	display: block;
}
