@CHARSET "UTF-8";
#page {
	position:relative;
	margin:0px auto 0px auto;
	padding:0px;
	width:900px;
}
#header {
	float:left;
	margin:0px auto 0px auto;
	padding:0px;
	width:900px;
}
#content {
	float:left;
	margin:0px auto 0px auto;
	padding:0 0 30px 0;
	width:900px;
}
#footer {
	float:left;
	width:900px;
	height:80px;
	margin:0px;
	padding:0px;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
#bookinfo {
	float:left;
	margin:0px auto 0px auto;
	padding:0px;
	width:900px;
}
#book_show {
	float:left;
	margin:0px auto 0px auto;
	padding:40px 0 0 0;
	width:300px;
	text-align:center;
}
#collectcount_label {
	font-size: 23px;
	color: #441cf1;
}
#book_detail {
	float:right;
	margin:0px auto 0px auto;
	padding:40px 0 0 0;
	padding-left:10px;
	width:590px;
}
#book_title {
	float:left;
	margin:0px auto 0px auto;
	padding: 0 0 15px 0;
	width:590px;
	font-size: 23px;
	font-weight: bold;
	color: #1daff3;
}
#price_label {
	color: #c30005;
}
#discount_label {
	color: orange;
}
#buy_panel {
	float:left;
	margin:0px auto 0px 20px;
	padding: 5px 0 10px 20px;
	width:340px;
	background-color: #b8d1f6;
	border: 1px solid #78a9f4;
}
#table_title {
	float:left;
	margin:25px auto 0px auto;
	padding:0px;
	width:900px;
	font-size: 22px;
	border-bottom: 1px solid #3c3a3d;
}
#table_title ul {
	float:left;
	margin:0px auto 0px auto;
	padding:0px;
	list-style: none;
	cursor: pointer;
	font-weight: bold;
	background-color: #ecf7e5;
}
#description_nav {
	float:left;
	margin: 0 auto;
	padding: 10px 0 0 0;
	width: 110px;
	height: 35px;
	display: block;;
	cursor: pointer;
	font-weight: bold;
	color: #a635f5;
	text-align: center;
	border: 1px solid #d7d3da;
}
#comment_nav {
	float:left;
	margin: 0 auto;
	padding: 10px 0 0 0;
	width: 170px;
	height: 35px;
	display: block;;
	cursor: pointer;
	font-weight: bold;
	color: #a635f5;
	text-align: center;
	border: 1px solid #d7d3da;
}
.current_nav {
	background-color: white;
}
#book_description {
	float:left;
	margin:0px auto 0px auto;
	padding:0px;
	width: 900px;
}
#description_title {
	font-size: 22px;
	font-weight: bold;
	padding: 0 0 0 20px;
	background-color: #f3f1f5;
}
#description_panel {
 	text-indent: 2em;
 	color: #282829;
}
#book_comment {
	float:left;
	margin:0px auto 0px auto;
	padding:0px;
	width:900px;
	display:none;
}
#comment_list {
	float:left;
	margin:0px auto 0px auto;
	padding:0px;
	width:900px;
	list-style: none;
}
.comment_item {
	float:left;
	margin:0px auto 0px auto;
	padding: 15px 0 0 0;
	width:900px;
	display: block;
}
.comment_info {
	float:left;
	margin:0px auto 0px auto;
	padding:0px;
	width:900px;
	list-style: none;
}
.comment_title {
	float:left;
	margin:0px auto 0px auto;
	padding: 5px 0 3px 10px;
	width: 890px;
	display: block;
	color: #76c9f0;
	font-weight: bold;
	font-size: 20px;
	background-color: #f3f1f5;
}
.comment_author {
	float:left;
	margin:0px auto 0px auto;
	padding: 10px 0 0 10px;
	width:890px;
	display: block;
}
.comment_author ul {
	float:left;
	margin:0px auto 0px auto;
	padding: 0px;
	width:890px;
	list-style: none;
}
.comment_author_label {
	float:left;
	margin:0px auto 0px auto;
	padding: 0 15px 0 25px;
	color:
	display: block;
}
.author_label {
	color: #3539f5;
}
.comment_score_label {
	float:left;
	margin:0px auto 0px auto;
	padding: 0px;
	width: 50px;
	display: block;
	color: orange;
}
.comment_date_label {
	float:left;
	margin:0px auto 0px auto;
	padding: 0 10px 0 0;
	width: 620px;
	text-align: right;
	display: block;
}
.comment_content {
	float:left;
	margin:0px auto 0px auto;
	padding: 10px 0 15px 10px;
	width: 890px;
	display: block;
	text-indent: 2em;
}
#comment_other_panel {
	float:left;
	margin:0px auto 0px auto;
	padding: 0px;
	width: 900px;
}
#nocomment_lable {
	float:left;
	margin:0px auto 0px auto;
	padding: 30px 0px 20px 0px;
	width: 880px;
	font-weight: bold;
	font-size: 20px;
	color: #9fdbfa;
	text-align: center;
}
#seeallcomments_label {
	float:left;
	margin:0px auto 0px auto;
	padding: 30px 20px 20px 0px;
	width: 880px;
	font-weight: bold;
	font-size: 20px;
	text-align: right;
}
#seeallcomments_label a {
	color: #9fdbfa;
	text-decoration: underline;
}