@CHARSET "UTF-8";

#page {
	position: relative;
	margin: 0px auto 0px auto;
	padding: 0px;
	width: 900px;
}

#header {
	float: left;
	margin: 0px auto 0px auto;
	padding: 0px;
	width: 900px;
}

#content {
	float: left;
	margin: 0px auto 0px auto;
	padding: 0 0 30px 0;
	width: 900px;
}

#breadcrumb {
	float: left;
	margin: 0px auto 0px auto;
	padding: 8px 0 4px 20px;
	width: 880px;
	height: 25px;
	color: orange;
	font-weight: bold;
	font-size: 20px;
	background-color: #e9f6ee;
}

#book_list {
	float: left;
	width: 900px;
	margin: 0px auto 0px auto;
	padding: 0px;
}

#pagepanel {
	float: left;
	width: 890px;
	height: 30px;
	margin: 0px auto 0px auto;
	padding: 10px 10px 0 0;
	text-align: right;
}

#footer {
	float: left;
	width: 900px;
	height: 80px;
	margin: 0px;
	padding: 0px;
}

ul {
	list-style: none;
}

#book_list ul {
	list-style: none;
}

#books {
	float: left;
	margin: 0px;
	padding: 0px;
}

.listitem {
	float: left;
	width: 870px;
	margin: 0px;
	padding: 15px 0 5px 30px;
	border-bottom: 1px solid #DDD;
}

.listitem_pic {
	float: left;
	margin: 0px auto 0px auto;
	padding: 0px;
	width: 160px;
	text-align: center;
	border: 1px solid #DDD;
}

.listitem_detail {
	float: left;
	margin: 0px auto 0px auto;
	padding: 0 0 0 3px;
	width: 705px;
}
.price_label {
	color: orange;
}
.originalprice_label {
	color: #b8beba;
	text-decoration: line-through;
}
.discount_label {
	color: #2187d6;
}
.operate_panel {
	padding-right: 20px;
	text-align: right;
}
.tiplist {
	margin: 0px;
	padding-left: 15px;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
#current_page_label {
	font-weight: bold;
}