@CHARSET "UTF-8";
html,body {
	margin: 0px;
	padding: 0px;
	font-family: "仿宋";
}
#page {
	position: relative;
	margin: 0px auto 0px auto;
	padding: 0px;
	width: 900px;
}
#logo {
	position:absolute;
	width:220px;
	height:100px;
	margin:0px;
	padding:0px;
	left: 0px;
	top: 0px;
}
#login {
	position:absolute;
	width:500px;
	height:330px;
	left:200px;
	top:150px;
	margin: 0px;
	padding: 0;
}
.b1,.b2,.b3,.b4,.b5,.b6,.b7,.b8{height:1px; font-size:1px; overflow:hidden; display:block;}
.b1,.b8{margin:0 5px;}
.b2,.b7{margin:0 3px;border-right:2px solid; border-left:2px solid;}
.b3,.b6{margin:0 2px;border-right:1px solid; border-left:1px solid;}
.b4,.b5{margin:0 1px;border-right:1px solid; border-left:1px solid; height:2px;}
.content {border-right:1px solid;border-left:1px solid;overflow:hidden;}
#login .b2,#login .b3,#login .b4,#login .b5,#login .b6,#login .b7,#login .content{border-color:#96C2F1;}
#login .b1,#login .b8{background:#96C2F1;}
#login .b2,#login .b3,#login .b4,#login .b5,#login .b6,#login .b7,#login .content{background:#EFF7FF;}

#result_label {
	float:left;
	margin:0px;
	padding:0 0 10px 0;
	width:500px;
	color: orange;
	font-size: 20px;
}
#title {
	float:left;
	margin:0px;
	padding:15px 0 10px 15px;
	width:500px;
	height:40px;
	font-size: 27px;
	font-weight: bolder;
	color: #2b5d38;
}
#namelabel {
	float:left;
	margin: 0px;
	padding:0 0 15px 50px;
	width:450px;
	font-size: 20px;
	font-weight: bold;
}
#passwordlabel {
	float:left;
	margin:0px;
	padding:0 0 10px 50px;
	width:450px;
	font-size: 20px;
	font-weight: bold;
}
#validcodelabel {
	float:left;
	margin:0px;
	padding:0 0 10px 50px;
	width:450px;
	font-size: 20px;
	font-weight: bold;
}
#rememberpswlabel {
	float:left;
	margin:0px;
	padding: 5px 0 20px 120px;
	width:380px;
}
#loginlabel {
	float:left;
	margin:0px;
	padding: 5px 0 20px 140px;
	width:360px;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
#username {
	height: 26px;
	font-size: 18px;
}
#password, #validcode {
	height: 26px;
	font-size: 18px;
}
.default_name_input {
	color: #d4d4d4;
}
/*错误信息样式 jQuery-validation*/
label.error, #username_error {
	float:left;
	margin:0px;
	padding: 10px 0 0px 80px;
	width: 260px;
	color: red;
	font-size: 14px;
}