@CHARSET "UTF-8";
#page {
	position:relative;
	margin:0px auto 0px auto;
	padding:0px;
	width:900px;
}
#header {
	float:left;
	margin:0px auto 0px auto;
	padding:0px;
	width:900px;
}
#content {
	float:left;
	margin:0px auto 0px auto;
	padding: 30px 0 30px 0;
	width:900px;
}
#footer {
	float:left;
	width:900px;
	margin:0px;
	padding:0px;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
#temp_nav {
	float:left;
	margin:0px auto 0px auto;
	padding: 10px 0 5px 10px;
	width:890px;
	color: orange;
	font-weight: bold;
	font-size: 20px;
	background-color:#4bfb79;
}
#message_label {
	float:left;
	margin: 20px auto 0px 250px;
	padding: 10px 0 10px 0px;
	width: 390px;
	text-align: center;
	color: green;
	font-size: 20px;
}
#form_panel {
	float:left;
	margin: 30px auto 50px 250px;
	padding: 20px 0 0 10px;
	width:380px;
	border: 1px solid #123;
}
.item {
	float:left;
	margin:0px auto 0px auto;
	padding: 10px 0 10px 30px;
	width: 350px;
}
#username, #email, #validcode {
	font-size: 16px;
	height: 25px;
}
#submit_image {
	margin-left: 90px;
	padding: 10px 0 20px 0;
}
/*错误信息样式 jQuery-validation*/
label.error, #username_error, #email_error, #validcode_error {
	float:left;
	margin:0px;
	padding: 10px 0 0px 70px;
	width:280px;
	color: red;
	font-size: 14px;
}
.error_label {
	width:350px;
	color: red;
	font-size: 14px;
}