@CHARSET "UTF-8";
#page {
	position:relative;
	margin:0px auto 0px auto;
	padding:0px;
	width:900px;
}
#header {
	float:left;
	margin:0px auto 0px auto;
	padding:0px;
	width:900px;
}
#content {
	float:left;
	margin:0px auto 0px auto;
	padding:0px;
	width:900px;
}
#footer {
	float:left;
	width:900px;
	margin:0px;
	padding:0px;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
#newpsw {
	float:left;
	margin:0px auto 0px auto;
	padding:100px 0 100px 0;
	width:900px;
	height: 30px;
	font-size: 25px;	
	color: #36ed65;
	text-align: center;
}
#psw {
	padding-left: 10px;
	color: red;
}
#temp_nav {
	float:left;
	margin:0px auto 0px auto;
	padding:20px 0 0 0;
	width:900px;
	height: 170px;
	font-size: 25px;
	text-align: center;
}