@CHARSET "UTF-8";
#page {
	position: relative;
	margin: 0px auto 0px auto;
	padding: 0px;
	width: 900px;
}
#header {
	float: left;
	margin: 0px auto 0px auto;
	padding: 0px;
	width: 900px;
}
#content {
	float: left;
	margin: 0px auto 0px auto;
	padding: 20px 0 60px 0;
	width: 900px;
}
#left {
	float: left;
	margin: 0px auto 0px auto;
	padding: 0px;
	width: 200px;
}
#right {
	float: left;
	margin: 0px auto 0px auto;
	padding: 0px;
	width: 700px;
}
#footer {
	float:left;
	width:900px;
	margin:0px;
	padding:0px;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
#nav_panel {
	float: left;
	margin: 0px auto 0px auto;
	padding: 0px;
	padding-top:10px;
	width: 200px;
}
.current_nav {
	float: left;
	margin: 0px auto 0px auto;
	padding: 7px 0 5px 20px;
	width: 180px;
	border-bottom: 1px solid #5390cf;
	background-color: #aacbf3;
}
.nav_item1 {
	float: left;
	margin: 0px auto 0px auto;
	padding: 7px 0 5px 20px;
	width: 180px;
	border-bottom: 1px solid #5390cf;
	background-color: #cee4fa;
}
.nav_item2 {
	float: left;
	margin: 0px auto 0px auto;
	padding: 7px 0 5px 40px;
	width: 160px;
	border-bottom: 1px solid #c9daeb;
	background-color: #ebf4fd;
}
.nav_item1, .nav_item1 a, .nav_item2 a{
	color: #6392fb;
}
.current_nav a{
	color: #058cf4;
	font-weight: bold;
}
#user_info {
	float: left;
	margin: 10px auto 25px 50px;
	padding: 0px;
	width: 570px;
	height:150px;
	border-left: 1px solid #23a692;
	border-top: 1px solid #23a692;
	border-bottom: 2px solid #0a7e6c;
	border-right: 2px solid #0a7e6c;
}
#username {
	float: left;
	margin: 0px auto 0px auto;
	padding: 20px 0 20px 30px;
	width: 570px;
}
#name {
	font-size: 25px;
	color: #1a5397;
	font-weight: bold;
}
#username a {
	font-size: 15px;
}
#modifyinfo {
	float: left;
	margin: 0px auto 0px auto;
	padding-top: 5px;
	padding-left:40px;
	width: 110px;
}
#other {
	float: left;
	margin: 0px auto 0px auto;
	padding-top: 35px;
	width: 350px;
}
#other ul {
	float: left;
	margin: 0px auto 0px auto;
	padding: 0px;
	list-style: none;
	width: 300px;
}
#other ul li {
	float: left;
	margin: 0px auto 0px auto;
	padding: 0 0 0 20px;
	display: inline;
	width: 130px;
}
#other a  {
	font-size: 20px;
	color: #ec0e62;
}
#notice ul, #notice ul li {
	list-style: none;
	display: inline;
}
#psw_panel {
	float: left;
	margin: 20px 100px 0 100px;
	padding: 0px;
	width: 500px;
	background-color: #f8f9a1;
}
#message_panel {
	float: left;
	margin: 0px auto 0px auto;
	padding: 10px 0 0px 120px;
	width: 380px;
}
#temp_nav {
	float: left;
	margin: 0px auto 20px 50px;
	padding: 10px 0 5px 10px;
	width: 570px;
	font-weight: bold;
	font-size: 20px;
	color: orange;
	background-color: #9f7;
}
#oldpsw_label, #newpsw_label, #repeatpsw_label, #psw_button {
	float: left;
	margin: 10px auto 0px auto;
	padding: 10px 0 0 90px;
	width: 410px;
}
#oldpsw, #password, #repeatepsw {
	font-size: 18px;
}
#psw_button {
	padding: 30px 0 30px 190px;
	width: 310px;
}