@CHARSET "UTF-8";
#page {
	position: relative;
	margin: 0px auto 0px auto;
	padding: 0px;
	width: 900px;
}
#header {
	float: left;
	margin: 0px auto 0px auto;
	padding: 0px;
	width: 900px;
}
#content {
	float: left;
	margin: 0px auto 0px auto;
	padding: 20px 0 50px 0;
	width: 900px;
}
#left {
	float: left;
	margin: 0px auto 0px auto;
	padding: 0px;
	width: 200px;
}
#right {
	float: left;
	margin: 0px auto 0px auto;
	padding: 0px;
	width: 700px;
}
#footer {
	float:left;
	width:900px;
	height:100px;
	margin:0px;
	padding:0px;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
#nav_panel {
	float: left;
	margin: 0px auto 0px auto;
	padding: 0px;
	padding-top:10px;
	width: 200px;
}
.current_nav {
	float: left;
	margin: 0px auto 0px auto;
	padding: 7px 0 5px 20px;
	width: 180px;
	border-bottom: 1px solid #5390cf;
	background-color: #aacbf3;
}
.nav_item1 {
	float: left;
	margin: 0px auto 0px auto;
	padding: 7px 0 5px 20px;
	width: 180px;
	border-bottom: 1px solid #5390cf;
	background-color: #cee4fa;
}
.nav_item2 {
	float: left;
	margin: 0px auto 0px auto;
	padding: 7px 0 5px 40px;
	width: 160px;
	border-bottom: 1px solid #c9daeb;
	background-color: #ebf4fd;
}
.nav_item1, .nav_item1 a, .nav_item2 a{
	color: #6392fb;
}
.current_nav a{
	color: #058cf4;
	font-weight: bold;
}

#user_info {
	float: left;
	margin: 10px auto 25px 50px;
	padding: 0px;
	width: 570px;
	height:150px;
	border-left: 1px solid #23a692;
	border-top: 1px solid #23a692;
	border-bottom: 2px solid #0a7e6c;
	border-right: 2px solid #0a7e6c;
}
#username_label {
	float: left;
	margin: 0px auto 0px auto;
	padding: 20px 0 20px 30px;
	width: 570px;
}
#username_label a {
	font-size: 15px;
}
#name {
	font-size: 25px;
	color: #1a5397;
	font-weight: bold;
}
#modifyinfo {
	float: left;
	margin: 0px auto 0px auto;
	padding-top: 5px;
	padding-left:40px;
	width: 110px;
}
#other {
	float: left;
	margin: 0px auto 0px auto;
	padding-top: 35px;
	width: 350px;
}
#other ul {
	float: left;
	margin: 0px auto 0px auto;
	padding: 0px;
	list-style: none;
	width: 300px;
}
#other ul li {
	float: left;
	margin: 0px auto 0px auto;
	padding: 0 0 0 20px;
	display: inline;
	width: 130px;
}
#other a  {
	font-size: 20px;
	color: #ec0e62;
}
#notice ul, #notice ul li {
	list-style: none;
	display: inline;
}

#temp_nav {
	float: left;
	margin: 0px auto 20px 50px;
	padding: 10px 0 5px 10px;
	width: 570px;
	font-weight: bold;
	font-size: 20px;
	color: orange;
	background-color: #9f7;
}
#edit_panel {
	float: left;
	margin: 0px auto 0px 140px;
	padding: 20px 0 30px 40px;
	width: 360px;
	list-style: none;
	display: block;
	background-color: #f8f9a1;
}
#user_form {
	float: left;
	margin: 0px auto 0px auto;
	padding: 0px;
	width: 360px;
	list-style: none;
	display: block;
}
#user_form li {
	float: left;
	margin: 0px auto 0px auto;
	padding: 15px 0 0 0px;
	width: 360px;
	display: block;
}
#submit_label {
	float: left;
	margin: 0px auto 0px auto;
	padding: 10px 0 0 110px;
}
#username, #email, #phone {
	font-size: 17px;
}
/*错误信息样式 jQuery-validation*/
label.error, #email_error, #phone_error {
	float:left;
	margin:0px;
	padding: 10px 0 0px 80px;
	width: 260px;
	color: red;
	font-size: 14px;
}