@CHARSET "UTF-8";

#copyright_panel {
	float: left;
	margin: 0 auto 0 auto;
	padding: 10px 0 0 0;
	width: 900px;
	border-top:2px solid #D5D4CC;
}

#link {
	float: left;
	margin: 10px auto 30px auto;
	padding: 10px 5px 0px 5px;
	width: 30px;
	text-align: center;
	font-size: 25px;
	height: 130px;
	border-left: 1px solid #9df0fc;
	border-right: 1px solid #cff9ff;
}
#link a {
	text-decoration: none;
	color: #30b8ff;
}

#copyright_info {
	float: left;
	margin: 40px auto 0 auto;
	padding: 0 0 30px 0;
	font-size: 14px;
	width: 830px;
}

#copyright_ul {
	float: left;
	margin: 0 auto 0 auto;
	padding: 0px;
	list-style: none;
	width: 830px;
}

#copyright_ul li {
	float: left;
	margin: 0 auto 0 auto;
	padding: 5px 0 0 0;
	width: 830px;
	text-align: center;
	display: block;
}